@model MVC_NorthWindOdev.Models.Customer
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddCustomer</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Customer</title>
</head>
<body>
    <div>
        <form method="post">
            <div>
                <label>Customer Id: </label>
                <input type="text" name="CustomerID" />
            </div>
            <div>
                <label>Company Name: </label>
                <input type="text" name="CompanyName" />
            </div>
            <div>
                <label>Contact Name: </label>
                <input type="text" name="ContactName" />
            </div>
            <div>
                <label>Phone: </label>
                <input type="text" name="Phone" />
            </div>
            <button type="submit">AddCustomer</button>
        </form>
    </div>
</body>
</html>

